<footer class="footer has-background-white-ter">
    <div class="content has-text-centered ">
      <p>
        <strong>IT114P - Programming Using Web </strong>
        <br>A Machine Problem made by  <a href="https://www.facebook.com/Kenneth.Bonilla">Kenneth Bonilla</a>. 
      </p>
    </div>
  </footer>